{% extends 'base.html' %}

{% block title %}Sign Out{% endblock %}

{% block content %}


    <div class="container__form">
        <div class="flex__form">
            <form action="">
                <h1>Sign Out</h1>
                <p>Thank You Suport With US and spending some quality time with the web site today.</p>
                <p class="flex__registerlink signout"><a href="{% url 'user_auth:sign_in' %}">Sign in Again</a></p>
            </form>
        </div>
    </div>


{% endblock %}